.profilepics
{
    background-color: grey;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
}

.container
{
    margin-top: 40px;
}

.row
{
    border-bottom: 2px solid grey;
    padding-bottom: 40px;
} 

.profile_data
{
    width: calc(100%/3);
    float: left;
    margin-top: 40px;
}

.bio
{
    width: 100%;
    float: left;
    margin-top: 40px;
}

.picture
{
    padding: 20px;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.picture div {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
    visibility: hidden;
}

.picture img 
{
    width: 100%;
    height: 100%;
    position: absolute;
}

.picture:hover > div {
    visibility: visible;
    cursor: pointer;
}